<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <p class="registro-label">Registro de Visitantes</p>
            <div class="card-white" id="carddelvisitante">
                <table>
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Datos</th>
                            <th>Hora de entrada</th>
                            <th>Compañía visitada</th>
                        </tr>
                    </thead>

                    <tbody>
                            <td></td>
                            <td>Lex Hernández</td>
                            <td>9 de agosto 2018 08:45pm</td>
                            <td>Laboratoria</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>Diana Esmeralda</td>
                            <td>9 de agosto 2018 09:30pm</td>
                            <td>Kiwilimón</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>Diana Esmeralda</td>
                            <td>9 de agosto 2018 09:30pm</td>
                            <td>Mk marketing</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <script src="../js/initialize.js"></script>
    <!-- <script src="../js/main.js"></script> -->
</body>

</html>