<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <p class="registro-label">Registro de Visitantes</p>
            <div class="card-white" id="carddelvisitante">
                <table>
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Datos</th>
                            <th>Fecha y Hora de entrada</th>
                            <th>Compañía visitada</th>
                            <th>Correo</th>

                        </tr>
                    </thead>

                    <tbody>
                        <td>
                            <img id="img2" src="https://static1.squarespace.com/static/547384c2e4b080be34ce3327/t/5971455b29687f358e530dca/1500600429512/b1a1f8d84eaf97f14027d988ed7a4f60--katya-zamolodchikova-tgirls+b.jpg?format=1500w">
                        </td>
                        <td>Lex Hernández</td>
                        <td>9 de agosto 2018 08:45pm</td>
                        <td>Laboratoria</td>
                        <td>correo@mail.com</td>

                        </tr>
                        <tr>
                            <td>
                                <img id="img" src="https://theme.express/minutes/images/quote/2.jpg">
                            </td>
                            <td>Diana Esmeralda</td>
                            <td>9 de agosto 2018 09:30pm</td>
                            <td>Kiwilimón</td>
                            <td>correo@mail.com</td>


                        </tr>
                        <tr>
                            <td>
                                <img id="img2" src="https://pbs.twimg.com/profile_images/969470926235492352/afGetjal_400x400.jpg">
                            </td>
                            <td>Diana Carrillo</td>
                            <td>9 de agosto 2018 09:30pm</td>
                            <td>Mk marketing</td>
                            <td>correo@mail.com</td>


                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
    <script src="../js/initialize.js"></script>
    <!-- <script src="../js/main.js"></script> -->
</body>

</html>