.bienvenida {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    margin-top: 10%;
}

#sign-in-href {
    font-size: 120%;
    font-weight: bold;
    color: black;
    text-align: right;
    font-family: 'Poiret One', cursive;
}

#terminal-uno {
    margin-top: 10%;
    width: 50%;
}

#button-registro {
    margin-top: 9%;
    padding: 2% 3%;
    font-size: 200%;
    background-color: white;
    border: solid;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
#sign-out-href{
    margin-top: 10%;
    padding: 2% 3%;
    font-size: 150%;
    background-color: white;
    border: solid black;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    color: black;
}

.visitor-label {
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    margin-top: 10%;
    margin-bottom: 0%;
    font-weight: bold;
    text-align: center;
}

.admin-label {
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    margin-top: 10%;
    /* margin-bottom: 0%; */
    font-weight: bold;
    text-align: center;
}

.registro-label {
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    margin-bottom: 5%;
    font-weight: bold;
    text-align: center;
}

.visitor-label-english {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    margin-top: 0%;
    text-align: center;
}

#fullname-span,
#email-span,
#company-span {
    font-size: 100%;
}

#log-in-btn-admin{
    margin-top: 9%;
    padding: 2% 3%;
    font-size: 150%;
    background-color: white;
    border: solid;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    margin-left: 5%;
}

.formcontent {
    margin-left: 15%;
}

form {
    margin-top: 10%;
}

video {
    width: 160%;
}

/* #capture{
    align-content: center;
} */

#send-form-btn {
    /* margin-top: 10%; */
    margin-top: 9%;
    padding: 2% 3%;
    font-size: 150%;
    background-color: white;
    border: solid;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    /* margin-left: 35%; */
}

#instruccion-foto{
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin-top: 10%;
    font-weight: bolder;
}

#img {
    width: 50px;
    height: 50px;
}

#img2 {
    width: 50px;
    height: 50px;
}

#img3 {
    width: 50px;
    height: 50px;
}

th {
    text-align: center;
}

.td-name,
.td-company, .td-email, .td-fecha, .td-visited-person {
    text-align: center;
}

* {
    margin: 1%;
}


.body-registro{
    padding: 0%;
}